<%- include('../partials/header') %>
<h1><%=title%></h1>

  <img src="https://images.squarespace-cdn.com/content/v1/5cf42a513262f6000154f1c0/3ca7d1f4-d342-4cc8-bcc9-ed42a7c160bc/d42d98d5b14852b4b8125bb9bcbf87c61639893239_main.jpg?format=750w" alt="Anime" width="280" height="280">
  
      <p>I enjoy anime! Here is a picture of my current favorite. It is called Summertime Rendering and its a time loop anime where the main character has to retrace his steps in order to prevent something tragic from happening. </p>    
      
<%- include('../partials/footer') %>