<%- include('../partials/header') %>
<h1><%=title%></h1>

   <img src="https://fangwallet.com/wp-content/uploads/2021/11/hicom-logo-crypto.jpg" alt="Reading" width="280" height="280">
      <p>Welcome, my name is Sabrina. This page was created using express.js and EJS temps. Please feel free to view some of the things I enjoy</p>    
      
<%- include('../partials/footer') %>
