<%- include('../partials/header') %>
<h1><%=title%></h1>

  <img src="https://images.unsplash.com/photo-1506880018603-83d5b814b5a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="Reading" width="280" height="280">
  
      <p>I enjoy reading in my free time! Fantasy, romance, and occassionaly self guidance. </p>    
      
<%- include('../partials/footer') %>