<%- include('../partials/header') %>
<h1><%=title%></h1>

  <img src="https://hips.hearstapps.com/hmg-prod/images/running-music-1655387886.png?crop=1.00xw:1.00xh;0,0&resize=1200:*" alt="running" width="280" height="280">
  
      <p>I am a beginner runner! I usually run away from my problems (haha) but I am trying something new. So far its a bit hard but rewarding. </p>    
      
<%- include('../partials/footer') %>